@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("4b0d272c4e74cb9a.ttf") format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("c74e082a80e7adb7.ttf") format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url("b1795223d710d9f5.ttf") format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("0407f0f7f27fb4f4.ttf") format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("e653e88818c7de97.ttf") format('truetype');
}
