@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url("7b3bc66ce4e9244c.ttf") format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: url("4416896c36ef19f9.ttf") format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url("d5da044799bae725.ttf") format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url("b68ce2fd2cd80ab2.ttf") format('truetype');
}
