@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: url("ea8c9a7cf26ce520.ttf") format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: url("cb25e2abb45f917e.ttf") format('truetype');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 700;
  src: url("a6efa05d0ce61793.ttf") format('truetype');
}
