@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url("fa742548398d2e62.ttf") format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url("9ebec4086578a423.ttf") format('truetype');
}
