@font-face {
  font-family: 'Instrument Sans';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url("20a9fd7ebed11cdf.ttf") format('truetype');
}
@font-face {
  font-family: 'Instrument Sans';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url("75a6bbe718c889d1.ttf") format('truetype');
}
@font-face {
  font-family: 'Instrument Sans';
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url("fa0e1cd2780c2ade.ttf") format('truetype');
}
@font-face {
  font-family: 'Instrument Sans';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url("cba90a6585f4d9b8.ttf") format('truetype');
}
@font-face {
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url("c7fc7f19da916a5a.ttf") format('truetype');
}
@font-face {
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src: url("6ee320a480220be0.ttf") format('truetype');
}
@font-face {
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url("8c6190b8c1e6428e.ttf") format('truetype');
}
@font-face {
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url("ad2a6cf29463753a.ttf") format('truetype');
}
