@import "ab0744c0cb50a243.css";
@import "ffb3622ce284c6f9.css";

@font-face{font-family:Kanit-Klaviyo-Hosted;src:url("98a8fcd437780d1f.woff2");font-style:italic;font-weight:400;font-display: swap;}
@font-face{font-family:Kanit-Klaviyo-Hosted;src:url("2678dc4091ff71a0.woff2");font-style:italic;font-weight:700;font-display: swap;}
@font-face{font-family:Kanit-Klaviyo-Hosted;src:url("135afb33e9f17057.woff2");font-style:normal;font-weight:400;font-display: swap;}
@font-face{font-family:Kanit-Klaviyo-Hosted;src:url("1e2c8aa2048a2c47.woff2");font-style:normal;font-weight:700;font-display: swap;}