@font-face {
  font-family: 'Courier Prime';
  font-style: italic;
  font-weight: 400;
  src: url("7f9d2ea4b837608b.ttf") format('truetype');
}
@font-face {
  font-family: 'Courier Prime';
  font-style: italic;
  font-weight: 700;
  src: url("0fbf707cabcf0dd6.ttf") format('truetype');
}
@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 400;
  src: url("ccc52c75caa09a7b.ttf") format('truetype');
}
@font-face {
  font-family: 'Courier Prime';
  font-style: normal;
  font-weight: 700;
  src: url("9e701e0208a341f9.ttf") format('truetype');
}
