/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * proxima-nova:
 *   - http://typekit.com/eulas/00000000000000007735e603
 *   - http://typekit.com/eulas/00000000000000007735e60d
 *   - http://typekit.com/eulas/00000000000000007735e609
 *   - http://typekit.com/eulas/00000000000000007735e616
 * utopia-std:
 *   - http://typekit.com/eulas/0000000000000000000131a3
 *   - http://typekit.com/eulas/0000000000000000000131a2
 *   - http://typekit.com/eulas/0000000000000000000131a4
 * utopia-std-display:
 *   - http://typekit.com/eulas/0000000000000000000130a0
 *   - http://typekit.com/eulas/0000000000000000000130a1
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2024-09-13 13:26:03 UTC"}*/

@import "06b8564f539bda2d.css";

@font-face {
font-family:"proxima-nova";
src:url("83ef0df2ba45fe9c.bin") format("woff2"),url("531a226116ff22a8.bin") format("woff"),url("0c9c329f5cf5f784.bin") format("opentype");
font-display:swap;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"proxima-nova";
src:url("fc12d3ffcc79088c.bin") format("woff2"),url("1cb2cce45e1ece4f.bin") format("woff"),url("e6903aa1b1394102.bin") format("opentype");
font-display:swap;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"proxima-nova";
src:url("a85b64a9348eae65.bin") format("woff2"),url("3dc482bbc57f1585.bin") format("woff"),url("b5063308ab8cdd05.bin") format("opentype");
font-display:swap;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"proxima-nova";
src:url("af01f16ab00ae6ff.bin") format("woff2"),url("e85a3a53aba0b890.bin") format("woff"),url("7d71fc9b2d270dae.bin") format("opentype");
font-display:swap;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"utopia-std";
src:url("e1d0a2b977549b77.bin") format("woff2"),url("29dd31a0e2b05e91.bin") format("woff"),url("3671b4e19f1285f2.bin") format("opentype");
font-display:swap;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"utopia-std";
src:url("a6b1425ff1dbcf9e.bin") format("woff2"),url("7e8014572973ef8f.bin") format("woff"),url("2abcb55eaaf5b102.bin") format("opentype");
font-display:swap;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"utopia-std";
src:url("df3364fb0d084450.bin") format("woff2"),url("fc2b130d1e708ee5.bin") format("woff"),url("c319508374cb79a4.bin") format("opentype");
font-display:swap;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"utopia-std-display";
src:url("21ae35afc25eac5b.bin") format("woff2"),url("27111efcd39093a2.bin") format("woff"),url("bea19583d5241b2a.bin") format("opentype");
font-display:swap;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"utopia-std-display";
src:url("238c0d7857a159f7.bin") format("woff2"),url("babdc2a3859c5ef6.bin") format("woff"),url("6b1de92a187c84b7.bin") format("opentype");
font-display:swap;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-proxima-nova { font-family: "proxima-nova",sans-serif; }
.tk-utopia-std { font-family: "utopia-std",serif; }
.tk-utopia-std-display { font-family: "utopia-std-display",serif; }
